.dropdown-menu {
  width: 300px;
}

#app {
  padding: 20px;
}

.list-group-item {
  float: left;
  width: 30%;
}

.list-group-item:hover {
  background: #ECECEC;
}

.banner {
	background:url(../images/banner.jpg);
	position:relative;
	background-size: cover;
}

.main_banner_area {
	padding: 300px 0;
	overflow:hidden;
}

.logo {
  height: 35%;
  width: auto;
  position:absolute;
  top: 7%;
	left: 7%;
}

/* navbar */
.main_menu_bg{
	margin-top: 30px;
}

li a{
  font-family: 'Merriweather', serif;
  font-size: 25px;
  color: #fff;
  border: rgba(200, 200, 200, .2) solid 4px;
  margin-left: 20px;
  text-transform: uppercase;
}

.main_menu_bg .navbar-nav>li>a{
  padding: 9px 5px;
}

.main_menu_bg .navbar-nav>li>a:hover{
  color: #fff;
  background: rgba(0, 0, 0, .2);
}

/* button */

.button {
  background-color: Transparent;
  font-family: 'Merriweather', serif;
  font-size: 25px;
  color: #fff;
  border: rgba(200, 200, 200, .2) solid 4px;
  margin-left: 20px;
  text-transform: uppercase;
}

.button:hover, .button:focus, .button:after {
  color: #fff;
  background: rgba(0, 0, 0, .2);
}

.dropdown-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
