h1, h2, h3, h4, h5, h6, p {
  color: #000;
}

h1 {

}

.dropdown-menu {
  width: 625px;
}

.column {
  float: left;
  width: 50%;
  border-right: 1px dashed black;
}

.margin-left {
  margin-left: 15%;
}

 .font-weight {
   font-weight: bold;
 }

.row:after {
    content: "";
    display: table;
    clear: both;
}

.no-dash {
  border-right: none;
}

.pizza-icon {
  height: 250px;
  width: auto;
}

#app {
  border: 0;
  width: 99%;
}

.list-group-item h1 {
  margin-left: 6%;
  margin-bottom: 20px;
}

.list-group-item img {
  margin-left: 5%;
  height: 20px;
  width: auto;
}

.list-group-item input {
  margin-left: 2%;
  margin-bottom: 20px;
}

.list-group-item li {
  list-style: none;
  border: 1px solid #ECECEC;
  line-height: 2;
  background: #fff;
  float: left;
  width: 50%;
}

.list-group-item li:hover {
  background: #ECECEC;
}

.banner {
	background:url(../images/banner.jpg);
	position:relative;
	background-size: cover;
}

.main_banner_area {
	padding: 300px 0;
	overflow:hidden;
}

.logo {
  height: 35%;
  width: auto;
  position:absolute;
  top: 7%;
	left: 7%;
}

/* navbar */
.main_menu_bg{
	margin-top: 30px;
}

li a{
  font-family: 'Merriweather', serif;
  font-size: 25px;
  color: #fff;
  border: rgba(200, 200, 200, .2) solid 4px;
  margin-left: 20px;
  text-transform: uppercase;
}

.main_menu_bg .navbar-nav>li>a{
  padding: 9px 5px;
}

.main_menu_bg .navbar-nav>li>a:hover{
  color: #fff;
  background: rgba(0, 0, 0, .2);
}

/* button */

.button {
  background-color: Transparent;
  font-family: 'Merriweather', serif;
  font-size: 25px;
  color: #fff;
  border: rgba(200, 200, 200, .2) solid 4px;
  margin-left: 20px;
  text-transform: uppercase;
}

.button:hover, .button:focus, .button:after {
  color: #fff;
  background: rgba(0, 0, 0, .2);
}

.dropdown-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
